[submodule "Libs"]
	path = Libs
	url = git@github.com:pilgrimagesoftware/Fussballergebnisse-Libs.git
[submodule "Apps"]
	path = Apps
	url = git@github.com:pilgrimagesoftware/Fussballergebnisse-Apps.git
[submodule "Data"]
	path = Data
	url = git@github.com:pilgrimagesoftware/Fussballergebnisse-Data.git
[submodule "Design"]
	path = Design
	url = git@github.com:pilgrimagesoftware/FullTime-Design.git
